body{
    
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
   

}

#navbar{

    background-color: blue;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
    
}

#navbar a{

    padding: 0px 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
 

.img1, .img2, .img3, .img4{
    
    position:relative; 
    opacity: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.img1{

    background-image: url("/img/img1.jpg");
    min-height: 100vh;
}


.img2{

    background-image: url("/img/img2.jpg");
    min-height: 600px;

}


.img3{

    background-image: url("/img/img3.jpg");
    min-height: 600px;

}


.img4{

    background-image: url("/img/img4.jpg");
    min-height: 100vh;
}

.section{
    
    text-align: center;
    padding: 50px 80px;
   
   

}

.section-light{

    background-color: white;
    color: #666;
}


.section-dark{

    background-color: rgba(20, 40, 51, 0.665);
    color: #ddd;
}

.ptext{

    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    

}



.ptext .border{
    background-color: #111;
    color: rgb(254, 255, 254);
    padding: 2%;
    font-size: 100%;
    letter-spacing: 8PX;
    text-transform: uppercase;
    background-color: rgba(2, 29, 22, 0.734);
    font-weight: bold;
   
    
}

.ptext .border .trans{

    background-color: transparent;
}

@media screen and (max-width: 568px){

    .img1, .img2, .img3, .img4{

        background-attachment: scroll;
    }
    
}

.footer{

    text-align: center;

}
.footer .icons{

    font-size: 2rem;
    padding: 35px  0;
}